<h1><%= @dive_bar.name %></h1>
<h3><%= @dive_bar.description %></h3>
<p><%= link_to @dive_bar.neighborhood.name, neighborhood_path(@dive_bar.neighborhood) %>
 
 <h1>BANDZ</h1>
 <h1>REVIEWZ</h1>
 <h1>BUTTONSZ</h1>