<h1><%=@user.name%>
<div>Neighborhood: <%=@user.neighborhood%></div>
<div> Favorite Music Genre: <%=@user.fav_genre%></div>
<div>Bars Visited: </div>
<div>Bars I want to visit: </div>


<%= link_to "Edit", edit_user_path(@user)%>