<h1> Bands </h1>


<ul>
    <% @bands.each do |band| %>
        <li><p class= "links"><%= link_to band.name, band_path(band) %></p></li>
            <p>Genre: <%= band.genre %> </p>
            
    <% end %>
</ul>