<h1><%= @band.name %></h1>

<h3>Genre: <%= @band.genre %></h3>

<h3>Bars We Play At:</h3>
<ul>
<% @band.dive_bars.each do |bar|%>
    <li><%= link_to bar.name, dive_bar_path(bar) %></li>
<% end %>
</ul>