<h1><%= @band.name %></h1> <br>

<h3>Genre: </h3> <p><%= @band.genre %> <p>
<h3>About us: </h3>
<p> <%= @band.description %> </p>
<br>
<h3>Bars We Play At:</h3>
<ul>
<% @band.dive_bars.each do |bar|%>
    <li><p><%= link_to bar.name.titleize, dive_bar_path(bar) %></p></li>
<% end %>
</ul>