<h1><%= @neighborhood.name.titleize %></h1>
<h3>Bars:</h3>
<ul>
    <% @neighborhood.dive_bars.each do |bars| %>
        <li><%= link_to bars.name.titleize, dive_bar_path(bars) %></li>
        <% rating = bars.reviews.map do |review| %>
            <% review.rating %>
         <% end %>
         <div>Average Rating: <%= average = rating.sum / rating.size.to_f %> /10 Stars</div><br>
    <% end %>
</ul>





   
       
        
 
