/* BODY STYLEZ */

@import url('https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker&display=swap');

html, body {
    height: 100%; 
}

body {
    background-image: url("app/assets/images/lightning.png");
    background-repeat: repeat;
}

h3, h1 {
    font-family: 'Permanent Marker', cursive;
    color: hotpink;
}

p {
    font-family: 'Oswald', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-item {
    margin: 10px; 
}

.link_color, .bands {
    color: darkslategrey;
    font-family: 'Permanent Marker', cursive;
}

.login-container {
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-top: 30vh;
}

/*
USERS
*/

.user-container {
    margin: 15vh;
}

.user_button {
    border-radius: 6px;
    background-color: hotpink;
    padding: 10px;
    letter-spacing: 1px;
}

.user_button a {
    color: white;
    font-family: 'Permanent Marker', 'cursive';
}

.user_button a:hover {
    color: #a9a9a9;
    text-decoration: none;
}